In [1]:
import pandas as pd

In [2]:
df_bili = pd.read_csv("./data/bilibili_pkt.csv")
df_skype = pd.read_csv("./data/Skype_HongKong_pkt.csv")
df_download = pd.read_csv("./data/APP_DOWNLOAD_pkt.csv")
df_LoL = pd.read_csv("./data/LOL_AI_pkt.csv")
df_netease = pd.read_csv("./data/netease_game_pkt.csv")
df_youtube = pd.read_csv("./data/youtube_pkt.csv")
df_tencent = pd.read_csv("./data/tencent_game_na_pkt.csv")

In [3]:
## name of output
output = "./concatenate.csv"

In [4]:
df_tencent.head(5)

   remote_ip2num  is_tcp  is_udp  pkt_len
0      301500341       1       0     1368
1      301500341       1       0      101
2      301500341       1       0     1368
3     2163118960       1       0        0
4      301500341       1       0      824

In [5]:
df_bili.insert(loc=4, column='outcome', value='bili')
df_skype.insert(loc=4, column='outcome', value='skype')
df_download.insert(loc=4, column='outcome', value='download')
df_LoL.insert(loc=4, column='outcome', value='LoL')
df_netease.insert(loc=4, column='outcome', value='netease')
df_youtube.insert(loc=4, column='outcome', value='youtube')
df_tencent.insert(loc=4, column='outcome', value='tencent')

In [6]:
df_LoL.head(5)

   remote_ip2num  is_tcp  is_udp  pkt_len outcome
0     3225463870       0       1       60     LoL
1     3225463870       0       1       48     LoL
2     3225463870       0       1       26     LoL
3     3225463870       0       1       24     LoL
4     3225463870       0       1       18     LoL

In [7]:
df_concat = pd.concat([df_bili, df_skype, df_download, df_LoL, df_netease, df_youtube, df_tencent], ignore_index=True)

In [8]:
# df_1x.head(5)
print("Read {} rows.".format(len(df_concat)))

Read 1074694 rows.

In [9]:
df_concat.head(5)

   remote_ip2num  is_tcp  is_udp  pkt_len outcome
0      794512005       1       0       31    bili
1      794512005       1       0        0    bili
2      794512005       1       0        0    bili
3      794512005       1       0        0    bili
4      794512005       1       0       31    bili

In [10]:
df_concat.to_csv(output)

In [11]:
# df_1x.to_csv('train_1x.csv')